* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

body {
    background-color: white;
    overflow: auto;
}

header {
    background-color: #27B6C1;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100vw;
    height: auto;
    margin-bottom: 50px;
    position: relative;
}

header > h1 {
    display: inline-block;
    font-size: 40px;
    word-spacing: 5px;
    letter-spacing: 3px;
    padding: 10px 0;
}

#logo {
    width: 50px;
    height: 50px;
}

#help {
    position: absolute;
    top: 30%;
    right: 1%;
    color: white;
    margin-left: 20px;
}

#help:hover {
    cursor: pointer;
}

.credentials {
    text-align: center;
}

.credentials > h1 {
    line-height: 50px;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-bottom: 30px;
}

.input-box {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

#psd {
    margin-left: 1px;
}

.btn-bottom {
    text-align: center;
    margin-top: 30px;
}

.btn {
    display: block;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 25%;
    padding: 5px;
    background-color: #27B6C1;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: #287D7F;   
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    header > h1, h1 {
        font-size: 50px;
    }
    .btn {
        width: 50%;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .input-box {
        width: 50%;
        font-size: 30px;
        margin-bottom: 20px;
    }
    #help {
        right: 5%;
    }
}

@media only screen  and (max-width: 450px) {
    header > h1, h1 {
        font-size: 30px;
    }
    .btn {
        width: 40%;
    }
    #help {
        margin-right: 10px;
    }
    header {
        text-align: left;
    }
    h1 {
        font-size: 30px;
    }
    .btn {
        font-size: 16px;
        width: 50%;
    }
    .input-box {
        width: 50%;
        font-size: 16px;
    }
    .size-set {
        font-size: 1.33em !important;
    }
    #help {
        right: 3%;
    }
}

